#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	width: 100%;
	height: var(--header-height);
	background-color: var(--header-bg);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5rem;
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

#header nav {
	display: flex;
	align-items: center;
}

#header .logo {
	width: 20rem;
}

#header .logo img {
	width: 100%;
}

#header .logo-nav nav {
	display: flex;
	align-items: center;
}

#header .nav-item {
	position: relative;
}

#header .nav-item > a {
	padding: 0.8rem 1.6rem;
	display: flex;
	align-items: center;
	color: var(--primary-color);
}

#header .nav-item > a:hover {
	background-color: var(--primary-color);
	color: var(--white-color);
}

#header .nav-item__icon {
	font-size: 2.4rem;
	margin-right: 0.8rem;
}

#header .nav-item__name {
	font-size: 1.6rem;
	font-weight: bold;
}

#header .nav-item:first-child:after {
	position: absolute;
	content: "";
	height: 1.2rem;
	width: 100%;
	background-color: transparent;
}

#header .nav-item .sub-nav {
	display: none;
	position: absolute;
	width: 150%;
	list-style: none;
	top: 5rem;
	left: -7rem;
	border: 1px solid var(--primary-color);
	font-weight: bold;
	color: var(--primary-color);
	box-shadow: 0.2rem 0.2rem #333;
}

#header .nav-item:hover .sub-nav {
	display: block;
}

#header .nav-item .sub-nav .sub-nav-item {
	background-color: var(--header-bg);
}

#header .nav-item .sub-nav .sub-nav-item:not(:first-child) {
	border-top: 1px solid #333;
}

#header .nav-item .sub-nav .sub-nav-item a {
	display: block;
	font-size: 1.4rem;
	width: 100%;
	padding: 0.8rem 0.8rem;
}

#header .nav-item .sub-nav .sub-nav-item:hover {
	background-color: var(--primary-color);
	color: var(--white-color);
}

#header .search-account {
	display: flex;
	align-items: center;
}

#header .search {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 3rem;
	height: 3rem;
	width: 20rem;
}

#header .search-input {
	padding: 0.4rem 0.8rem;
	outline: none;
	border: 1px solid var(--primary-color);
	border-radius: var(--border-radius-input);
	color: var(--desc-color);
	width: 100%;
	height: 100%;
}

#header .search-icon {
	position: absolute;
	right: 0;
	color: var(--primary-color);
}

#header .account {
	position: relative;
}

#header .menu-btn {
	display: none;
}

#header .menu-icon,
#header .account-icon {
	font-size: 3.7rem;
}

#header .account-icon {
	color: var(--primary-color);
}

#header .menu-icon,
#header .account-icon:hover {
	cursor: pointer;
}

#header .menu {
	display: none;
}

.popup-login {
	display: none;
	position: absolute;
	background-color: #f4f7ff;
	top: 5rem;
	right: 0;
	padding: 12px;
	width: 30rem;
	z-index: 3;
	/* border: 1px solid var(--primary-color); */
	border-radius: var(--border-radius-input);
}

.popup-login.active {
	display: block;
}

.popup-login::after {
	content: "";
	position: absolute;
	top: -0.7rem;
	right: 1.1rem;
	height: 1.5rem;
	width: 1.5rem;
	background-color: #f4f7ff;
	transform: rotate(45deg);
}

.heading-login {
	text-align: center;
	color: var(--red-color);
	font-weight: bold;
	font-size: 2.2rem;
	margin-bottom: 1rem;
}

.input-value {
	display: block;
	height: 4rem;
	width: 100%;
	margin-top: 1rem;
	border: 1px solid var(--primary-color);
	outline: none;
	border-radius: var(--border-radius-input);
	padding: 0.8rem 1.6rem;
}

.message-error {
	color: var(--red-color);
	font-size: 1.2rem;
	margin-top: 4px;
}

.remember-forgot {
	margin: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.remember-login {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	font-size: 1.2rem;
}

.link {
	font-size: 1.2rem;
	color: var(--blue-color);
}

.link:hover {
	text-decoration: underline;
}

.login-btn {
	display: block;
	width: 100%;
	height: 4rem;
	border-radius: var(--border-radius-btn);
	border: none;
	outline: none;
	color: var(--white-color);
	font-size: 1.4rem;
	font-weight: bold;
	background-color: var(--primary-color);
}

.login-btn:hover {
	cursor: pointer;
}

.another-login {
	position: relative;
	margin: 1.6rem 0;
	height: 1px;
	width: 100%;
	background-color: #000;
	text-align: center;
}

.another-login span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.2rem;
	background-color: #f4f7ff;
}

.login-logo {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.login-logo div {
	height: 4.5rem;
	width: 4.5rem;
	padding: 0.8rem;
	border: 1px solid #ccc;
	border-radius: var(--border-radius-btn);
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-logo div:hover {
	cursor: pointer;
}

.login-logo div img {
	width: 100%;
	height: 100%;
}

.no-account {
	margin-top: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.4rem;
	font-size: 1.2rem;
}

.close-btn {
	display: none;
}

/* Responsive */
@media screen and (max-width: 1200px) {
	#header {
		padding: 0 1rem;
	}
	#header .logo {
		width: 14rem;
	}

	#header .nav-item > a {
		padding: 0.5rem 1rem;
		font-size: 1.4rem;
	}

	#header .search {
		margin-right: 1.2rem;
	}

	#header .search {
		width: 18rem;
	}
}

@media screen and (max-width: 992px) {
	#header nav {
		display: none;
		position: fixed;
		top: var(--header-height);
		left: 0;
		width: 100%;
		background-color: var(--header-bg);
		justify-content: space-around;
		padding-bottom: 1rem;
	}

	#header nav.active {
		display: flex;
	}

	#header .nav-item .sub-nav {
		top: 4rem;
		width: 150%;
	}

	#header .search {
		width: 30rem;
	}

	#header .search-account {
		gap: 2rem;
	}

	#header .menu-btn {
		display: block;
	}

	#header .nav-item .sub-nav {
		left: 0;
	}
}

@media screen and (max-width: 576px) {
	#header .search {
		width: 25rem;
	}
	.popup-login {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}

	.popup-login::after {
		display: none;
	}

	.popup-login.active {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.form-login {
		width: 70%;
	}

	.heading-login {
		font-size: 2.6rem;
		margin-bottom: 1.5rem;
	}

	.input-value {
		height: 5rem;
		margin-top: 2rem;
	}

	.remember-forgot {
		margin: 2rem 0;
	}

	.remember-login,
	.link {
		font-size: 1.6rem;
	}

	.another-login {
		margin: 2.5rem 0;
	}

	.login-logo div {
		height: 5.5rem;
		width: 5.5rem;
	}

	.no-account {
		margin-top: 2.2rem;
	}
	.close-btn {
		cursor: pointer;
		display: block;
		position: absolute;
		top: 2.5rem;
		right: 2.5rem;
	}

	.close-btn span {
		font-size: 3rem;
	}
}
