:root {
  --primary-color: #2192ff;
  --header-height: 7rem;
  --header-bg: #cfe9f8;
  --footer-bg: #ccc;
  --form-bg: #f9f9f9;
  --text-color: #333;
  --desc-color: #555; /* Cẩm nang, tin tức, kinh nghiệm */
  --red-color: #f01212;
  --border-radius-input: 0.5rem;
  --border-radius-btn: 1rem;
  --border-radius-img-item: 1.5rem;
  --size-page-number-btn: 5rem;
  --yellow-color: #ffc709;
  --border-quick-search-input: 0.2rem solid #ffc709;
  --border-input: 0.1rem solid #e7e7e7;
  --font: Arial, Helvetica, sans-serif;
}
* {
  font-family: var(--font);
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
}

.body {
  width: 83.3333%;
  margin: 0 auto;
  display: flex;
  font-size: 1.4rem;
}
.row {
  display: flex;
  margin: 1.2rem 0;
}
.col-left {
  flex: 0 0 65%;
}
.col-right {
  flex: 0 0 35%;
  position: sticky;
  top: 0;
  height: fit-content;
}
.form__title {
  color: var(--primary-color);
}
.form__label {
  margin-bottom: -0.8rem;
}
.form__input {
  border-radius: var(--border-radius-input);
  border: 1px solid #666;
  margin-right: 1.6rem;
  padding: 0.8rem 0.4rem;
}
.form__btn {
  border-radius: var(--border-radius-btn);
  padding: 0.8rem 1.6rem;
}
.summarization-info {
  padding: 1.2rem;
  border: 1px solid var(--desc-color);
  border-radius: var(--border-radius-img-item);
}
.support-info {
  font-size: 1rem;
}
.support-info__btn {
  display: inline-block;
  width: 100px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-btn);
  padding: 0.4rem;
  color: var(--text-color);
}
.support-info__btn .icon {
  float: left;
}
.btn-submit {
  width: 100%;
  border: none;
  font-size: 2.2rem;
  background-color: var(--red-color);
  color: var(--form-bg);
}
