button {
	cursor: pointer;
}

.main {
	margin-top: calc(var(--header-height) + 20px);
	background-color: var(--form-bg);
}
.main__code {
	display: flex;
	align-items: center;
	font-size: 1.6rem;
	font-weight: 600;
}
.main__heading {
	display: flex;
	justify-content: space-between;
}

.main__heading-left--title {
	font-size: 2.6rem;
	font-weight: bold;
	color: var(--primary-color);
	margin-right: 12px;
}
.main__heading-left--rating {
	display: flex;
	align-items: center;
	background-color: var(--yellow-color);
	width: fit-content;
	padding: 3px 6px;
	border-radius: 10px;
	margin-top: 13px;
	gap: 6px;
}
.main__heading-left--rating span {
	font-size: 1.6rem;
	font-weight: bold;
	color: #fff;
}
.main__heading-right {
	/* display: flex; */
}
.main__heading-right-top {
	display: flex;
	align-items: center;
}
.main__heading-right-top--price {
	font-size: 1.8rem;
	font-weight: bold;
	color: var(--red-color);
	display: flex;
	align-items: center;
}
.main__heading-right-top--price span {
	font-size: 1.5rem;
	font-weight: normal;
	color: var(--desc-color);
}
.main__heading-right--book {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 40px;
	padding: 8px 20px;
	background-color: var(--red-color);
	color: #fff;
	font-size: 1.6rem;
	border: none;
	border-radius: 8px;
	width: 140px;
	gap: 10px;
}

.main__heading-right-bottom {
	display: flex;
	justify-content: flex-end;
	margin-top: 12px;
}
.main__heading-right-bottom button {
	padding: 5px 10px;
	font-size: 1.6rem;
	font-weight: bold;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid var(--primary-color);
}

.main__heading-right-bottom button:hover {
	color: white;
	background-color: var(--primary-color);
}
/*-------Image---------------*/
.main__img {
	display: flex;
	margin-top: 12px;
	height: 460px;
}

.main__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main__img-left {
	flex: 0 0 60%;
}
.main__img-left img {
	border-radius: 10px;
}
.main__img-right {
	display: flex;
	flex: 0 0 40%;
	flex-direction: column;
}
.main__img-right img {
	max-width: 100%;
	padding: 0 4px 4px 4px;
	border-radius: 10px;
}

.main__img-right-top {
	display: flex;
	height: 40%;
}

.main__img-right-top--left {
	width: 50%;
}

.main__img-right-top--right {
	width: 50%;
}

.main__img-right-bottom {
	height: 60%;
}

.main__img-right-bottom img {
	max-width: 100%;
	padding: 0 4px 0 4px;
}
.main__desc {
	display: flex;
	justify-content: space-between;
}
.main__desc-left {
	background-color: #f9f9f9;
	padding: 12px;
}
.main__desc-left-row {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	margin: 12px 0;
}

.main__desc-left-row p span {
	color: #000;
	font-weight: bold;
}

.main__desc-left-row-otherday {
	display: flex;
	align-items: center;
	margin-left: 40px;
	border: 1px solid var(--primary-color);
	padding: 2px 6px;
	border-radius: 5px;
}

.main__desc-right {
	display: flex;
	flex-direction: column;
}
.main__desc-right-top {
	display: flex;
	margin: 12px 0;
}
.main__desc-right-top-item {
	width: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4px 8px;
}

.main__desc-right-top-item--title {
	display: flex;
	align-items: center;
	font-size: 1.6rem;
	color: var(--primary-color);
	font-weight: bold;
}
.main__desc-right-top-item--desc {
	font-size: 1.2rem;
	margin-top: 4px;
}

.main__support-title {
	font-size: 1.6rem;
}
.main__support-choose {
	display: flex;
}
.main__support-choose--method {
	max-width: 120px;
	display: flex;
	align-items: center;
	margin: 8px 12px;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	background-color: #fff;
	padding: 4px;
}
.timeline {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	gap: 30px;
}
.timeline__left {
	font-size: 2.4rem;
	font-weight: 600;
	margin-left: 225px;
	color: var(--primary-color);
}
.timeline__right {
	display: flex;
}
.timeline__right-days {
	padding: 0 30px;
	border-right: 2px dotted var(--primary-color);
}
.timeline__right-days--day {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--primary-color);
	font-size: 1.6rem;
	margin: 20px 0;
}
.timeline__right-days--day p {
	font-size: 1.4rem;
	color: #000;
}
.timeline__right-desc {
	padding: 0 20px;
}
.timeline__right-desc--title {
	font-size: 1.6rem;
	margin: 20px 0;
	font-weight: 550;
}
.timeline__right-desc--title p {
	font-size: 1.4rem;
	font-weight: normal;
}

.information {
	display: flex;
	justify-content: space-around;
}

.information-title {
	text-align: center;
	font-size: 2rem;
	color: var(--primary-color);
	font-weight: 600;
	margin: 20px 0;
}

.information-left {
}

.information__detail {
	display: flex;
	margin-bottom: 18px;
}

.information__detail-left {
	padding-right: 24px;
	border-right: 1px solid #000;
}

.information__detail-right {
	padding-left: 24px;
}

.information__detail-left--title {
	font-size: 1.6rem;
}
.information__detail-left--title span {
	font-weight: bold;
}
.information__detail-left-location {
	display: flex;
	align-items: center;
}
.information__detail-left-location-pre {
	margin-top: 16px;
	font-size: 1.3rem;
	text-align: center;
	font-weight: bold;
}

.information__detail-left-location-pre p {
	font-weight: 400;
}

.information__right-contain {
	display: flex;
}
.information__right-col {
	margin: 0 45px;
}

.information__right-col p {
	font-size: 1.3rem;
	margin: 12px 0;
}
.information__right-col:nth-child(2) p {
	color: var(--red-color);
	font-weight: bold;
	text-align: right;
}

.information__right-col--title {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.information__concentrate-day {
	font-size: 1.6rem;
	margin-bottom: 12px;
}

.information__concentrate-day span {
	font-weight: bold;
}

.line-transport {
	position: relative;
	content: "";
	height: 1px;
	width: 70px;
	border-top: 1px dotted var(--primary-color);
	margin: 0 8px;
}
.line-transport span {
	position: absolute;
	top: -12px;
	left: 22px;
}
.maybe-like {
	font-size: 2.4rem;
	font-weight: bold;
	color: var(--primary-color);
	text-align: center;
	margin: 18px 0;
}
.maybe-like__list {
	display: flex;
	margin-bottom: 20px;
}
.maybe-like__item {
	width: 25%;
	padding: 12px;
	border-radius: 10px;
}
.maybe-like__item-img {
	width: 100%;
	height: 200px;
}
.maybe-like__item-img img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.maybe-like__item-date {
	font-size: 1.2rem;
	color: var(--text-color);
	margin: 8px 0;
}
.maybe-like__item-title {
	font-size: 1.6rem;
	color: var(--primary-color);
	font-weight: bold;
	margin: 8px 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.maybe-like__item-departure {
	font-size: 1.2rem;
	color: var(--text-color);
	margin: 8px 0;
}
.maybe-like__item-price {
	color: var(--red-color);
	font-weight: 700;
	font-size: 1.6rem;
	margin: 9px 0;
}
.maybe-like__item-btn {
	display: flex;
	justify-content: space-between;
}

.maybe-like__item-btn--details {
	background-color: #fff;
	color: var(--primary-color);
	font-weight: 600;
	padding: 4px 12px;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	width: 100px;
}

.maybe-like__item-btn--details:hover {
	color: var(--white-color);
	background-color: var(--primary-color);
}

/* Modal */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
	overflow: auto;
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: center;
}

.modal .pop-up {
	background-color: #fff;
	width: 80%;
	max-width: 600px;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
}

.modal .pop-up .heading {
	font-size: 2.4rem;
}

.modal .pop-up .buttons {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.modal .pop-up .buttons .button {
	margin-top: 40px;
	display: block;
	padding: 4px 12px;
	border: 1px solid #333;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.6rem;
}

.modal .pop-up .buttons .button:nth-child(1) {
	color: orange;
}

.modal .pop-up .buttons .button:nth-child(1):hover {
	background-color: orange;
	color: white;
}

.modal .pop-up .buttons .button:nth-child(2):hover {
	background-color: #999;
	color: white;
}
